
        h1 {
            color: brown;
            position: fixed;
            top: 0px;
            right: 0px;
            background-color: blueviolet;
        
        }

        img {
            width: 400px;
        }

        #thirdDiv {
            background-color: black;
            width: 500px;
            padding: 50px;
            border: 10px solid sienna;
        }

        #spanid {
            font-size: 18px;
            margin: 50px;
            display: inline-flex;
        }
.box {
    display: inline-block;
    background: blue;
    width: 100px;
    height: 100px;
    position: relative;
    top: 100px;
}