
        h1 {
            color: brown;
            position: relative;
            display: absolute;
            background-color: width;
        }
        h3{
            display: flex;
        }

        img {
            width: 400px;
        }

        #thirdDiv {
            position: flex;
            display: grid;  
            place-items: center;
        }

        #spanid {
            display: flex;
            align-content: center;
            justify-content: center;
            
        }
.box {
    display: inline-block;
    background: blue;
    width: 100px;
    height: 100px;
    position: relative;
    top: 100px;
}

body {
    background-image: url(https://img.freepik.com/vector-premium/patron-fondo-transparente-cocina_53562-1281.jpg?w=2000);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.divClass {
    display: flex;
    align-content: center;
    justify-content: center;
}